#button
{
  margin-top: 10px;
  border:none;
	padding:6px 0 6px 0;
	border-radius:50%;
	background:#478bf9;
	font:bold 13px Arial;
	color:#fff;
	width:160px;
}
#button:hover
{
  background-color: #4FAFA8;
}
#todoform
{
  margin-bottom: 80px;
}
main
{
  background-color: #B8E4E7;
 text-align: center;
  margin: 20px;
  padding: 20px;
}
h1
{
background-color: white;

}
img
{
 	width: 120%;
 	height: auto;
}
#photo
{
  height:12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 5%;
  padding-right: 13%;
  max-width: 14em;
}
#todoinput
{
  width: 80%;
  border-style: solid;
  max-width: 35em;
}
.editer:hover
{
  background-color: #4FAFA8;
  color: white;
}
.remove{
    margin: 5px;
    width:85px;
  	height:45px;
  	background:#cc0000;
  	font:bold 13px Arial;
  	border-radius:50%;
  	border:none;
  	color:#fff;
}
.editer{
  margin: 5px;
  width:85px;
	height:45px;
	background:#83B9D4;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}
.remove:hover
{
  background-color: #4FAFA8;
  color: white;
}
ul li
{
padding-right: 40px;
list-style: none;

}
